 body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    height: 100vh;
    /* margin: 0; */
    overflow: hidden;
    /* padding: 2rem; */
    color: white;
    font: 1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
  }
  
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
  }
  
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  
  pre {
    margin: 0;
  }

/* other */

::selection {
  background: #FF5E99;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#wrapper {
   padding: .1em 5em 1em 1em;
   line-height: 1;
}

#wrapper output {
      clear: both;
      width: 100%;
}

#wrapper output h3,h2,pre {
margin: 0;
}

#wrapper output p {
            margin-top: .5em;
         margin-bottom: .5em;
}

.input-line {
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: stretch;
   display: -moz-box;
   -moz-box-orient: horizontal;
   -moz-box-align: stretch;
   display: box;
   box-orient: horizontal;
   box-align: stretch;
   clear: both;
   color: whitesmoke;
   margin-top: 20px;
}
.input-line div:nth-child(2) {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
}

.prompt {
   white-space: nowrap;
   color: salmon;
   margin-right: 7px;
   display: -webkit-box;
   -webkit-box-pack: center;
   -webkit-box-orient: vertical;
   display: -moz-box;
   -moz-box-pack: center;
   -moz-box-orient: vertical;
   display: box;
   box-pack: center;
   box-orient: vertical;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

.cmdline {
   outline: none;
   background-color: transparent;
   margin: 0;
   width: 100%;
   font: inherit;
   border: none;
   color: inherit;
       /* font: 1.3rem Inconsolata, monospace; */
    text-shadow: 0 0 5px #C8C8C8;
}

.ls-files {
   height: 45px;
   -webkit-column-width: 100px;
   -moz-column-width: 100px;
   -o-column-width: 100px;
   column-width: 100px;
}